body{
    text-align: center;
}

input{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 30%;
    padding: 1rem 1rem;

}
button{
    margin: auto;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
}
#redBtn{
    color:white;
    background-color: red;
    
}
#blueBtn{
    color:white;
    background-color:blue;

}
#greenBtn{
    color:white;
    background-color: green;
}